.slide {
    display: grid;
    width: 100vw;
    height: 100vh;
}
.wrapper {
    display: flex;
    flex-direction: row;
    width: 300vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    font-weight: 800;
}

.one{
    background: black;
    z-index: 2;
}

.left {
    display: flex;
    align-content: center;
    width: 50vw;
    height: 100vh;
    padding: 0 10% 0 10%;
    grid-column-start: 1;
    grid-column-end: 2;
    flex-direction: row;
}

.hero.text {
    display: inherit;
    flex-direction: column;
    justify-content: center;
}

.hero.title {
    font: var(--hero-title);
    color: var(--main-text-color);
}

.hero.blerb {
    font: var(--paragraph-font);
    color:var(--main-text-color);
}

.social.container {
    display: inline-flex;
    left: 50%;
    padding: 2%;
}

.social {
    padding: 5px;
}

.link img{
    width: auto;
    height: 3vh;
    filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 0.9));
}

.hero.right {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    padding: 0 10% 0 10%;
    grid-column-start: 2;
    grid-column-end: 3;
    flex-direction: row;
}

.site_links {
    display: inline;
    padding: 27% 0 0 0;
}

.site_link {
    display: flex;
    height: 170px;
    margin: 2px 2px 2px 2px;
}

.stlnk {
    display: flex;
    background-color: grey;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin: 2px 2px 2px 2px;
    height: 170px;
}

.stlnk a {
    display: inherit;
    border-radius: 30px;
    margin: 2px 2px 2px 2px;
    height: 170px;
}

.top {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 35vw;
}

.project {
    background-image:url(/static/portfolio/portfolioLink.jpg);
    background-position: 25%;
    background-repeat: no-repeat;
    background-size: 200%;
    background-origin: content-box;
    width: 25vw;
    transition: width 2s;
}

.project:hover {
    width: 35vw;
}

.project a {
    align-items: center;
    justify-content: center;
    font:  Bolder 20.25px Arial, Helvetica, sans-serif;
    width: 100%;
    transition: color 1s;
    
}

.project a:hover {
    color: rgba(0, 0, 0, 0);
    width: 100%;
}

@keyframes backgroundAnimation {
    0% {
        background-image: linear-gradient(135deg,#130505, #491515, #ff0000, #ff6600);
        background-position-x: -498px;
    }

    50% { 
        background-image: linear-gradient(135deg,#130505, #491515, #ff0000, #ff6600);
        background-position-x: 0px;
    }

    100% {
        background-image: linear-gradient(135deg,#130505, #491515, #ff0000, #ff6600);
        background-position-x: -498px;
    }
}

@keyframes backgroundAnimation2 {
    0% {
        background-color:#491515;
    }

    50% { 
        background-color:#9c0000;
    }

    100% { 
        background-color:#491515;
    }
}

@keyframes backgroundAnimation3 {
    0% {
        background-color:grey;
    }

    50% { 
        background-color:#49bbb1;
    }

    100% { 
        background-color:grey;
    }
}

@keyframes prjctBackgroundAnimation {
    0% {
        background-color:rgb(93, 95, 95);
    }

    50% { 
        background-color:#49bbb1;
    }

    100% { 
        background-color:rgb(93, 95, 95);
    }
}

.movie {
    background-color:#130505;
    background-repeat: no-repeat;
    animation: backgroundAnimation3 12s ease-in-out infinite;
    width: 10vw;
    transition: width 2s;
}

.movie:hover {
    width: 30vw;
}

.movie a {
    align-items: center;
    justify-content: center;
    font:  Bolder 20.25px Arial, Helvetica, sans-serif;
    width: 100%;
    transition: color 1s;
    
}

.movie a:hover {
    color: black;
    width: 100%;
}

.middle {
    display: flex;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 35vw;
}

.contact {
    background-image: linear-gradient(135deg, #491515, #ff0000);
    background-size: 500%;
    background-repeat: no-repeat;
    background-position-x: -10px;
    animation: backgroundAnimation 10s ease-in-out infinite;
    width: 25vw;
    transition: width 2s, background-color 2s;
}

.contact:hover {
    width: 45vw;
    background-color: var(--secondary-red-accent-color);
}

.contact a {
    align-items: center;
    justify-content: center;
    font:  Bolder 20.25px Arial, Helvetica, sans-serif;
    width: 100%;
}

.contact a:hover {
    width: 100%;
}

.maps {
    background-image:linear-gradient(45deg, #491515b7, #49151523), url(/static/portfolio/mapLink.PNG);
    width: 15vw;
    transition: width 2s, background-color 2s, height 2s, outline 4s, height 2s;
}

.maps:hover {
    width: 40vw;
    background-color: var(--red-accent-color);
}

.maps a {
    align-items: center;
    justify-content: center;
    font:  Bolder 20.25px Arial, Helvetica, sans-serif;
    width: 100%;
    transition: color 1s;
    
}

.maps a:hover {
    color: rgba(0, 0, 0, 0);
    width: 100%;
}

.bottom {
    display: flex;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 35vw;
}

.about {
    background-color: #361010;
    background-size: 500%;
    background-repeat: no-repeat;
    background-position-x: 500px;
    animation: backgroundAnimation2 10s ease-in-out infinite;
    width: 35vw;
    transition: width 2s, background-color 2s;
}

.about:hover {
    width: 47vw;
    background-color: var(--secondary-red-accent-color);
}

.about a {
    align-items: center;
    justify-content: center;
    font:  Bolder 20.25px Arial, Helvetica, sans-serif;
    width: 100%;
    
}

.about a:hover {
    width: 100%;
}

.games {
    width: 7vw;
    height: 170px;
    transition: width 2s, background-color 2s, height 2s;
}

.games:hover {
    width: 40vw;
    background-color: var(--secondary-red-accent-color);
    height: 300px;
}

.games a {
    align-items: center;
    justify-content: center;
    font:  Bolder 20.25px Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    transition: color 1s;
}

.games a:hover {
    color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}

.two {
    display: grid;
    background: grey;
}

.pjs {
    display: grid;
    margin-top: 14vh;
    padding: 25px 100px 0 100px;
}

.projectSideOne {
    grid-column-start: 1;
    grid-column-end: 2;
    
}

.projectSideTwo {
    grid-column-start: 2;
    grid-column-end: 3;
}

.prjcont {
    display: flex;
    border-radius: 30px;
    height: 170px;
    justify-content: right;
    background-color: rgb(93, 95, 95);
    transition: background-color 2s;
}

.prjcont:hover {
    background-color: #49bbb1;
}

.prjcont a {
    display: flex;
    justify-content: left;
    border-radius: 30px;
    width: 100%
}

.project_desc {
    display: flex;
    width: 100%;
    border-radius: 30px;
}

.project_img {
    display: flex;
    width: 20%;
    margin: 15px;
    border-radius: 30px;
    outline: solid black 0px;
}

.project_blerb {
    width: 450px;
    font:  Bolder 12.25px Arial, Helvetica, sans-serif;
    padding-left: 11px;
    padding-top: 5px;
    color: black;
}

.plcholder .project_blerb {
    color: rgba(0, 0, 0, 0);
}

.portfolioMaps .project_img {
    background-image:url(/static/portfolio/mapLink.PNG);
}

.portfolioGames .project_img {
    background-image:url(/static/portfolio/games.png);
    background-size: 150px;
}

.texas_toms .project_img {
    background-image:url(/static/portfolio/texasLink.PNG);
    background-size: 276px;
    background-position: 0 -50px;
    background-repeat: no-repeat;
}

.project_content {
    margin: 15px;
}

.p_title {
    color: var(--title-font-color);
    font: var(--title-font);
}

.tech_list li{
    display: inline;
    padding-left: 10px;
    color: rgb(31, 31, 31);
    font: var(--paragraph-font);
}

.plcholder .tech_list li {
    color: rgba(0, 0, 0, 0);
}

.plcholder .p_title{
    color: rgba(0, 0, 0, 0);
}

.three{
    display: grid;
    background: grey;
}

.contact_form {
    width: 50vw;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 14vh 0 11vh 0;
    justify-items: center;
    display: grid;
}

.ContactForm {
    font-size: 4em;
    color: white;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
    height: 4em;
    border-radius: 15px;
    width: 30vw;
    border-color: var(--red-accent-color);
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
    border-radius: 15px;
    height: 30vh;
    border-color: var(--red-accent-color);
}

.about_me {
    padding: 75px;
    margin-top: 14vh;
    width: 50vw;
    grid-column-start: 1;
    grid-column-end: 2;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    top: 0;
    z-index: -1;
}

::-webkit-scrollbar {
    display: none;
}
