<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Base{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">    
    </head>
    <body>
        <header>
            <a class="logo" href="{{ url_for('homePage.home') }}"><img src="{{url_for('static', filename='logo.png')}}" alt="Logo" class="logo"></a>
            <nav>
                <ul class="nav_links">
                    <li><a href="{{ url_for('homePage.movies') }}">Movies</a></li>
                    <li><a href="{{ url_for('homePage.home') }}#project_page">Projects</a></li>
                    <li><a href="{{ url_for('homePage.home') }}#about_me">About</a></li>
                </ul>
            </nav>
            <a href="#contact_page"><button>Contact</button></a>
        </header>

        <script>

        </script>
        
        {% block content %}
            <h1>
                Base
            </h1>
        {% endblock %}
            
    </body>
</html>