{% extends "base.html"%}
{% block title %}Tic Tac Toe{% endblock %}
{% block headLinkScript %}<link rel="stylesheet" href="static/games/games.css">{% endblock %} 
{% block content %}

<div class="gameContainer">
    <div class="projectSideOne pjs">
        <div class="tictactoe prjcont">
            <a href="{{ url_for('homePage.tictactoe') }}">
                <div class="project_desc">
                    <div class="project_img"></div>
                    <div class="project_content">
                        <p class="p_title">Tic Tac Toe</p>
                        <ul class="tech_list">
                            <li>JavaScript</li>
                        </ul>
                        <div class="project_blerb">
                            <p>
                                My first JavaScript Project, learning the basics to help expand my skills
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="gameOne prjcont plcholder">
            <a href="{{ url_for('homePage.tictactoe') }}">
                <div class="project_desc">
                    <div class="project_img"></div>
                    <div class="project_content">
                        <p class="p_title">Tic Tac Toe</p>
                        <ul class="tech_list">
                            <li>JavaScript</li>
                        </ul>
                        <div class="project_blerb">
                            <p>
                                My first JavaScript Project, learning the basics to help expand my skills
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="gameTwo prjcont plcholder">
            <a href="{{ url_for('homePage.tictactoe') }}">
                <div class="project_desc">
                    <div class="project_img"></div>
                    <div class="project_content">
                        <p class="p_title">Tic Tac Toe</p>
                        <ul class="tech_list">
                            <li>JavaScript</li>
                        </ul>
                        <div class="project_blerb">
                            <p>
                                My first JavaScript Project, learning the basics to help expand my skills
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="gameThree prjcont plcholder">
            <a href="{{ url_for('homePage.tictactoe') }}">
                <div class="project_desc">
                    <div class="project_img"></div>
                    <div class="project_content">
                        <p class="p_title">Tic Tac Toe</p>
                        <ul class="tech_list">
                            <li>JavaScript</li>
                        </ul>
                        <div class="project_blerb">
                            <p>
                                My first JavaScript Project, learning the basics to help expand my skills
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="projectSideTwo pjs">
        <div class="gamefour prjcont plcholder">
            <a href="#">
                <div class="project_desc">
                    <div class="project_img"></div>
                    <div class="project_content">
                        <p class="p_title">Place Holder</p>
                        <ul class="tech_list">
                            <li>Howdy</li>
                            <li>Howdy</li>
                            <li>Howdy</li>
                            <li>Howdy</li>
                        </ul>
                        <div class="project_blerb">
                            <p>
                                Using the OpenStreetMap API and a database from Kansas City, I create a interactive map that you can enter an address to view its parcel. The API
                                is called with JavaScript and the page is made with Flask and Python. It also uses HTMX to enable a responsive interface without reloading the page
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="gameFive prjcont plcholder">
            <a href="{{ url_for('homePage.tictactoe') }}">
                <div class="project_desc">
                    <div class="project_img"></div>
                    <div class="project_content">
                        <p class="p_title">Tic Tac Toe</p>
                        <ul class="tech_list">
                            <li>JavaScript</li>
                        </ul>
                        <div class="project_blerb">
                            <p>
                                My first JavaScript Project, learning the basics to help expand my skills
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="gameSix prjcont plcholder">
            <a href="{{ url_for('homePage.tictactoe') }}">
                <div class="project_desc">
                    <div class="project_img"></div>
                    <div class="project_content">
                        <p class="p_title">Tic Tac Toe</p>
                        <ul class="tech_list">
                            <li>JavaScript</li>
                        </ul>
                        <div class="project_blerb">
                            <p>
                                My first JavaScript Project, learning the basics to help expand my skills
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="gameSeven prjcont plcholder">
            <a href="{{ url_for('homePage.tictactoe') }}">
                <div class="project_desc">
                    <div class="project_img"></div>
                    <div class="project_content">
                        <p class="p_title">Tic Tac Toe</p>
                        <ul class="tech_list">
                            <li>JavaScript</li>
                        </ul>
                        <div class="project_blerb">
                            <p>
                                My first JavaScript Project, learning the basics to help expand my skills
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}