<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Base{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/gxo/gxo.css">
        <script src="https://unpkg.com/htmx.org@1.9.5"></script>
        {% block headLinkScript %}{% endblock %}
    </head>
    <body>

        <header>
            <a class="logo" href="{{ url_for('homePage.home') }}"><img src="{{url_for('static', filename='gxo/logo.png')}}" alt="Logo" class="logo"></a>
            <nav>
                <ul class="nav_links">
                    <li><a href="{{ url_for('homePage.home') }}">Home</a></li>
                    <li><a href="{{ url_for('homePage.home') }}#project_page">Projects</a></li>
                    <li><a href="{{ url_for('homePage.home') }}#about_me">About</a></li>
                </ul>
            </nav>
            <a href="{{ url_for('homePage.home') }}#contact_page"><button>Contact</button></a>
        </header>
        
        {% block content %}
            <h1>
                Base
            </h1>
        {% endblock %}
        {% block afterBodyScript %}{% endblock %}

    </body>
</html>