{% extends "base.html"%}
{% block title %}Home{% endblock %}
{% block content %}

<div class="outer-wrapper">
    <div class="wrapper">
        <div class="slide one">
            <div class="left">
                <p class="blerb">HI BRITTNEY!!</p>
                <p>I'm trynna get at least a portfilio site up so i can start applying
                to jobs with proof that i know how to do anything.<br><br>
                Ignore the random boxes. they help me devide the space</p>
                <div class="socials">picture picture picture</div>
            </div>
            <div class="right">
            </div>
        </div>
        <div class="slide two"><p>Hello</p></div>
        <div class="slide three"><p>Hiya</p></div>
        <div class="slide four"><p>Yo</p></div>
    </div>
</div>
{% endblock %}