{% extends "base.html"%}
{% block title %}Home{% endblock %}
{% block headLinkScript %}
<link rel="stylesheet" href="/static/main/main.css">  
{% endblock %}
{% block content %}

<div class="outer-wrapper">
    <div class="wrapper">
        <div class="slide one" id="home_page">
            <div class="hero left" id="home">
                <div class="hero text">
                    <p class="hero title">
                        Tobi Ghost
                    </p>
                    <p class="hero blerb">
                        A versatile professional adept in Python, data structures, 
                        design, and front-end development, I bring a comprehensive skill 
                        set to the data table.
                    </p>
                    <div class="social container">
                        <div class="social link"><a href="https://www.linkedin.com/in/brandon-roberts-06555310b/"><img src="{{url_for('static', filename='main/linked.png')}}" alt="Logo" class="logo"></a></div>
                        <div class="social link"><a href="https://github.com/Tobitheghost"><img src="{{url_for('static', filename='main/github.png')}}" alt="Logo" class="logo"></a></div>
                        <div class="social link"></div>
                    </div>
                </div>
            </div>
            <div class="hero right">
                <div class="site_links">
                    <div class="site_link top">
                        <div class="project stlnk"><a href="#project_page">Projects</a></div>
                        <div class="movie stlnk"><a href="{{ url_for('homePage.movies') }}">Movies</a></div>
                    </div>
                    <div class="site_link middle">
                        <div class="maps stlnk"><a href="{{ url_for('homePage.maps') }}">Maps</a></div>
                        <div class="contact stlnk"><a href="#contact_page">Contact</a></div>
                    </div>
                    <div class="site_link bottom">
                        <div class="about stlnk"><a href="#about_me">About</a></div>
                        <div class="games stlnk"><a href="{{ url_for('homePage.games') }}">Games</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide two" id="project_page">
            <div class="projectSideOne pjs">
                <div class="portfolioMaps prjcont">
                    <a href="{{ url_for('homePage.maps') }}">
                        <div class="project_desc">
                            <div class="project_img"></div>
                            <div class="project_content">
                                <p class="p_title">Maps</p>
                                <ul class="tech_list">
                                    <li>JavaScript</li>
                                    <li>Python</li>
                                    <li>Flask</li>
                                    <li>HTMX</li>
                                    <li>OpenStreetMap API</li>
                                </ul>
                                <div class="project_blerb">
                                    <p>
                                        Using the OpenStreetMap API and a database from Kansas City, I create a interactive map that you can enter an address to view its parcel. The API
                                        is called with JavaScript and the page is made with Flask and Python. It also uses HTMX to enable a responsive interface without reloading the page
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="portfolioGames prjcont">
                    <a href="{{ url_for('homePage.games') }}">
                        <div class="project_desc">
                            <div class="project_img"></div>
                            <div class="project_content">
                                <p class="p_title">Games</p>
                                <ul class="tech_list">
                                    <li>JavaScript</li>
                                    <li>Python</li>
                                    <li>C++</li>
                                </ul>
                                <div class="project_blerb">
                                    <p>
                                        Collection of interactiv projects to keep my skills keen.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="texas_toms prjcont">
                    <a href="{{ url_for('homePage.texas') }}">
                        <div class="project_desc">
                            <div class="project_img"></div>
                            <div class="project_content">
                                <p class="p_title">Texas Toms</p>
                                <ul class="tech_list">
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Flask</li>
                                    <li>Python</li>
                                </ul>
                                <div class="project_blerb">
                                    <p>
                                        Using basic Html and Css to create a landing page for a local restaurant. Using these tools in a way that is most common and easy
                                        for people not familiar with code to give feedback.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="gxo_map prjcont">
                    <a href="{{ url_for('homePage.gxo') }}">
                        <div class="project_desc">
                            <div class="project_img"></div>
                            <div class="project_content">
                                <p class="p_title">GXO Map</p>
                                <ul class="tech_list">
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>Flask</li>
                                    <li>Python</li>
                                    <li>HTMX</li>
                                </ul>
                                <div class="project_blerb">
                                    <p>
                                        Using Image Map and HTMX to create an interactive map to showcase the Facility.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="projectSideTwo pjs">
                <div class="portfolioSpaceHolder3 prjcont plcholder">
                    <a href="#">
                        <div class="project_desc">
                            <div class="project_img"></div>
                            <div class="project_content">
                                <p class="p_title">Place Holder</p>
                                <ul class="tech_list">
                                    <li>Howdy</li>
                                    <li>Howdy</li>
                                    <li>Howdy</li>
                                    <li>Howdy</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="portfolioSpaceHolder4 prjcont plcholder">
                    <a href="#">
                        <div class="project_desc">
                            <div class="project_img"></div>
                            <div class="project_content">
                                <p class="p_title">Place Holder</p>
                                <ul class="tech_list">
                                    <li>Howdy</li>
                                    <li>Howdy</li>
                                    <li>Howdy</li>
                                    <li>Howdy</li>
                                </ul>
                                <div class="project_blerb">
                                    <p>
                                        Using the OpenStreetMap API and a database from Kansas City, I create a interactive map that you can enter an address to view its parcel. The API
                                        is called with JavaScript and the page is made with Flask and Python. It also uses HTMX to enable a responsive interface without reloading the page
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="portfolioSpaceHolder5 prjcont plcholder">
                    <a href="#">
                        <div class="project_desc">
                            <div class="project_img"></div>
                            <div class="project_content">
                                <p class="p_title">Place Holder</p>
                                <ul class="tech_list">
                                    <li>Howdy</li>
                                    <li>Howdy</li>
                                    <li>Howdy</li>
                                    <li>Howdy</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="portfolioSpaceHolder6 prjcont plcholder">
                    <a href="#">
                        <div class="project_desc">
                            <div class="project_img"></div>
                            <div class="project_content">
                                <p class="p_title">Texas Toms</p>
                                <ul class="tech_list">
                                    <li>Howdy</li>
                                    <li>Howdy</li>
                                    <li>Howdy</li>
                                    <li>Howdy</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <form class="slide three" method="POST">
            <div class="about_me" id="about_me">
                <p>My name is Tobiathan Theo Ghost, but Tobi is alot easier. I'm a passionate and skilled computer scientist hailing from Kansas City, Missouri. While I've been coding for personal projects for several years, my journey into full-time focus on computer science commenced a few years ago when exciting opportunities presented themselves, and I couldn't resist seizing them.
                    <br><br>
                    My expertise in Python has allowed me to contribute significantly to small companies by developing efficient inventory systems and crafting delightful websites for restaurants. Moreover, I've delighted friends with my creative game creations. As I pursued computer science as a career, I found myself embracing new challenges and rising to meet the demands of larger clients.
                    <br><br>
                    In response to the growing needs of my clients, I dedicated myself to learning various technologies, including SQL and its numerous variations. By combining Python with these new skills, I have automated data collection and analysis processes, empowering me to present valuable insights to clients effectively.
                    <br><br>
                    To further enhance my capabilities, I delved into platforms like Google Charts, Tableau, Zoho Analytics, and even mastered Flask to develop impactful applications. My insatiable appetite for learning has become my driving force, and I pride myself on my ability to excel in any task set before me.
                    <br><br>
                    My ultimate passion lies in embracing novel platforms and skills, continuously growing as a computer scientist, and making meaningful contributions to the world through my work.
                </p>
            </div>
            <div class="contact_form" id="contact_page">
                <p class="ContactForm">Contact Form</p>
                <div class="alert-success">
                    Message sent! Thank you.
                </div>                  
                <input type="text" name="name" placeholder="  Enter your name!" autocomplete="off" required>
                <input type="email" name="email" placeholder="  Enter your email!" autocomplete="email" required>
                <textarea name="contact_msg" rows="6" cols="60" placeholder="  Enter a Message" autocomplete="off" required></textarea>
                <button type="submit" class="contact_submit">Send Message</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}