{% extends "base.html"%}
{% block title %}Home{% endblock %}
{% block content %}

<div class="outer-wrapper">
    <div class="wrapper">
        <div class="slide one" id="home_page">
            <div class="left">
                <div class="hero_text">
                    <p class="blerb">Developing Beautiful<br>Data and Backends</p>
                    <p>As a versatile professional adept in Python, data structures, 
                        design, and front-end development, I bring a comprehensive skill 
                        set to the table. I  collect, 
                        maintain, organize, and present information and data in a way that 
                        resonates with your target audience. I have the knowledge and creativity to deliver 
                        exceptional solutions that seamlessly integrate form and function. 
                        Let me leverage my multidimensional skills to transform your data 
                        into compelling and impactful experiences.</p>
                    <div class="socials">
                        <div class="first soc"><a href="https://www.linkedin.com/in/brandon-roberts-06555310b/"><img src="{{url_for('static', filename='linked.png')}}" alt="Logo" class="logo"></a></div>
                        <div class="second soc"><a href="https://github.com/Tobitheghost"><img src="{{url_for('static', filename='github.png')}}" alt="Logo" class="logo"></a></div>
                        <div class="third soc"></div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="shape_links">
                    <div class="top_bar"><a href="#project_page">Projects</a></div>
                    <div class="middle_bar"><a href="#contact_page">Contact</a></div>
                    <div class="borrom_bar"><a href="#about_me">About</a></div>
                    <div class="circle_link"></div>
                </div>
            </div>
        </div>
        <div class="slide two" id="project_page">
            <div class="project_container">
                <div class="prj left">
                    <div class="prj 1">
                        <div class="imagething"></div>
                        <p class="pj_desc">howdy howdy howdy howdy howdy</p>
                    </div>
                    <div class="prj 2">
                        <div class="imagething"></div>
                        <p class="pj_desc">howdy howdy howdy howdy howdy</p>
                    </div>
                    <div class="prj 3">
                        <div class="imagething"></div>
                        <p class="pj_desc">howdy howdy howdy howdy howdy</p>
                    </div>
                </div>
                <div class="prj right">
                    <div class="prj 4">
                        <div class="imagething"></div>
                        <p class="pj_desc">howdy howdy howdy howdy howdy</p>
                    </div>
                    <div class="prj 5">
                        <div class="imagething"></div>
                        <p class="pj_desc">howdy howdy howdy howdy howdy</p>
                    </div>
                    <div class="prj 6">
                        <div class="imagething"></div>
                        <p class="pj_desc">howdy howdy howdy howdy howdy</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide three" id="about_me">
           
            <div class="about">
                <div class="t_blob">
                    <p>My name is Brandon, I am a Kansas City, Missouri native
                        who has been coding for personal projects for a couple years
                        but never had the ability to focus full time until the past
                        few years as oppurtunities came about that i did not want to miss
                        out on. I have helped small companies make invetory systems with
                        python, create small websites for small restraunts, and make cute
                        games for friends before pursuing computer science as a career.<br><br><br>
                        
                        I have had to learn alot now that my clients have gotten bigger and more demanding.
                        I have learned Sql and its many varients, expanding on my python to automate
                        and collect data, clean it up and present it to clients. Learning Google charts
                        Tableau, Zoho Analytics, and many others. I even learned how to make flask apps
                        and used that knowledge to make this site I love learning new platforms and skills
                        and take pride in my ability to excel at what is put in front of me.
                    </p>
                </div>
            </div>
            <div class="skills">
                <div class="enteries">
                    <div class="first_sec">
                        <div class="ent HTML"><p>HTML</p></div>
                        <div class="ent CSS"><p>CSS</p></div>
                        <div class="ent PYTHON"><p>PYTHON</p></div>
                        <div class="ent MySQL"><p>MySQL</p></div>
                        <div class="ent EXCEL"><p>Microsoft Excel</p></div>
                        <div class="ent MACH_Learning"><p>Machine Learning</p></div>
                        <div class="ent Data_Viz"><p>Data Visiualization</p></div>
                        <div class="ent WEB_SCRA"><p>Web Scrapping</p></div>
                    </div>
                    <div class="second_sec">
                        <div class="ent CLD"><p>Cloud Computing</p></div>
                        <div class="ent DATAEX"><p>Data Extraction</p></div>
                        <div class="ent DATASTRCT"><p>Data Structures and Algorithms</p></div>
                        <div class="ent JAVASCRPT"><p>JavaScript</p></div>
                        <div class="ent FRONTEND"><p>Front End development</p></div>
                        <div class="ent BACKEND"><p>Back end development</p></div>
                        <div class="ent FLASK"><p>Flask</p></div>
                        <div class="ent DJANGO"><p>Django</p></div>
                    </div>
                </div>
            </div>
            <div class="example"></div>
            <div class="something"></div>
        </div>
        <div class="slide four" id="contact_page"><p>You can contact me at: kklogos13@gmail.com</p>
        <p class="excuse">My site is currently under construction, I'm always learning and working on new projects.
        Let me know what you think would improve my site with the email above.</p></div>
    </div>
</div>
{% endblock %}