{% extends "base.html"%}
{% block title %}movies{% endblock %}

{% block content %}
<div class="movie_container">
    <div class="img_container">
        <a class="poster" href="#home_page"><img src="{{url_for('static', filename='sympathy for the devil poster.jpg')}}" alt="Logo" class="poster_img"></a>
    </div>
    <div class="desc_contain">
        <h2 class="title">Sympathy for the Devil</h2>
        <p class="release_date">Release: July 28, 2023</p>
        <p class="stream"></p>
        <p class="gen_desc">Forced to drive a mysterious passenger at gunpoint, 
            a man finds himself in a high-stakes game of cat and mouse where nothing 
            is as it seems.</p>
        <a class="trailer"><iframe width="560" height="315" src="https://www.youtube.com/embed/ap8IKdWWHWw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></a>

    </div>
</div>
<div class="movie_container">
    <div class="img_container">
        <a class="poster" href="#home_page"><img src="{{url_for('static', filename='Suicide_Squad_Isekai_teaser.jpg')}}" alt="Logo" class="poster_img"></a>
    </div>
    <div class="desc_contain">
        <h2 class="title">Suicide Squad Isekai</h2>
        <p class="release_date">Release: N/A</p>
        <p class="stream"></p>
        <p class="gen_desc">Suicide Squad Isekai is an upcoming anime television series based on the DC Comics team Suicide Squad.
            Harley Quinn, The Joker, and the Suicide Squad cause havoc in ISEKAI*, an all-new original anime series from Warner Bros.
             Japan and WIT Studio. *ISEKAI(異世界): Term for "another world" in Japanese.
        </p>
        <a class="trailer"><iframe width="560" height="315" src="https://www.youtube.com/embed/EyfKd3LvtFE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></a>

    </div>
</div>
<div class="movie_container">
    <div class="img_container">
        <a class="poster" href="#home_page"><img src="{{url_for('static', filename='teenage mutant ninja turtles mutant mayhem.jpg')}}" alt="Logo" class="poster_img"></a>
    </div>
    <div class="desc_contain">
        <h2 class="title">Teenage Mutant Ninja Turtles Mutant Mayhem</h2>
        <p class="release_date">Release: August 2, 2023</p>
        <p class="stream"></p>
        <p class="gen_desc">After years of being sheltered from the human world, the Turtle brothers set out to win the hearts of New Yorkers and
             be accepted as normal teenagers. Their new friend, April O'Neil, helps them take on a mysterious crime syndicate, but they soon get in
              over their heads when an army of mutants is unleashed upon them.
        </p>
        <a class="trailer"><iframe width="560" height="315" src="https://www.youtube.com/embed/IHvzw4Ibuho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></a>

    </div>
</div>

<div class="movie_container">
    <div class="img_container">
        <a class="poster" href="#home_page"><img src="{{url_for('static', filename='killer of the flower moon.jpg')}}" alt="Logo" class="poster_img"></a>
    </div>
    <div class="desc_contain">
        <h2 class="title">Killers of the Flower Moon</h2>
        <p class="release_date">Release: October 20, 2023</p>
        <p class="stream"></p>
        <p class="gen_desc">In the 1920s, members of the Osage Native American tribe of Osage County, Oklahoma, are murdered after oil is found on their land, and the FBI 
            decides to investigate.
        </p>
        <a class="trailer"><iframe width="560" height="315" src="https://www.youtube.com/embed/EP34Yoxs3FQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></a>

    </div>
</div>

<div class="movie_container">
    <div class="img_container">
        <a class="poster" href="#home_page"><img src="{{url_for('static', filename='Ballerina-473399644-large.jpg')}}" alt="Logo" class="poster_img"></a>
    </div>
    <div class="desc_contain">
        <h2 class="title">Ballerina</h2>
        <p class="release_date">Release: June 7, 2024</p>
        <p class="stream"></p>
        <p class="gen_desc">Ballerina is an upcoming American action thriller film directed by Len Wiseman from a screenplay by Shay Hatten and Emerald Fennell, 
            based on a story by Hatten. It is the first spin-off of the John Wick franchise, and is set between the events of John Wick: Chapter 3 Parabellum and John Wick: Chapter 4
        </p>
        <a class="trailer" width="560" height="315">  </a>

    </div>
</div>

<div class="movie_container">
    <div class="img_container">
        <a class="poster" href="#home_page"><img src="{{url_for('static', filename='bettle.jpg')}}" alt="Logo" class="poster_img"></a>
    </div>
    <div class="desc_contain">
        <h2 class="title">Blue Beetle</h2>
        <p class="release_date">Release: August 18, 2023</p>
        <p class="stream"></p>
        <p class="gen_desc">Jaime Reyes suddenly finds himself in possession of an ancient relic of alien biotechnology called the Scarab. When the Scarab chooses Jaime to be its symbiotic
             host, he's bestowed with an incredible suit of armor that's capable of extraordinary and unpredictable powers, forever changing his destiny as he becomes the superhero 
             Blue Beetle.
        </p>
        <a class="trailer"><iframe width="560" height="315" src="https://www.youtube.com/embed/vS3_72Gb-bI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></a>

    </div>
</div>

<div class="movie_container">
    <div class="img_container">
        <a class="poster" href="#home_page"><img src="{{url_for('static', filename='tj_kickass.jpg')}}" alt="Logo" class="poster_img"></a>
    </div>
    <div class="desc_contain">
        <h2 class="title">Kick-Ass</h2>
        <p class="release_date">Release: April 16, 2010</p>
        <p class="stream"></p>
        <p class="gen_desc">Using his love for comics as inspiration, teenager Dave Lizewski (Aaron Johnson) decides to reinvent himself as a superhero 
            -- despite a complete lack of special powers. Dave dons a costume, dubs himself "Kick-Ass," and gets to work fighting crime.
        </p>
        <a class="trailer"><iframe width="560" height="315" src="https://www.youtube.com/embed/2rpXHqnGDXo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></a>
    </div>
</div>

<div class="movie_container">
    <div class="img_container">
        <a class="poster" href="#home_page"><img src="{{url_for('static', filename='KirkMoffatt_Invincible-1.jpg')}}" alt="Logo" class="poster_img"></a>
    </div>
    <div class="desc_contain">
        <h2 class="title">Invincible</h2>
        <p class="release_date">Release: March 25, 2021</p>
        <p class="stream"></p>
        <p class="gen_desc">Seventeen-year-old Mark Grayson is just like every guy his age, except that his father is Omni-Man, the most powerful 
            superhero on the planet. As Mark develops powers of his own, he discovers his father's legacy may not be as heroic as it seems.
        </p>
        <a class="trailer"><iframe width="560" height="315" src="https://www.youtube.com/embed/9CdykRxgmH0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TqxXVNejouM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></a>

    </div>
</div>
{% endblock %}