* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #d9d9d9;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 10%;
    background: rgba(0, 0, 0, .5);
    z-index: 10;
}

@media (max-width: 1250px) {
/*The Small Screen Boi*/
    .logo {
        height: 20%;
        width: 20%;
        cursor: pointer;
    }
    .nav_links li {
        display: inline-block;
        padding: 0px 7px;
    }
    .slide .left {
        display: block;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .two{
        display: grid;
        background: linear-gradient(to right, black 2%, rgb(128, 128, 128) 30%);
    }
    .project_container {
        position: relative;
        display: grid;
        top:4%;
        scale: 85%;
    }
    .prj.left {
        display: grid;
        z-index: 1;
    }
    .shape_links {
        visibility: hidden;
    }
    .prj .prj {
        bottom: 4%;
        background: #cf1515;
        transform: scale(.95, .9);
        filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.5));
        z-index: 1;
    }

    .prj.right {
        display: grid;
        visibility:hidden;
    }
    .t_blob {
        background-color: lightgray;
        padding: 5%;
        position: absolute;
        margin: 0%;
        left: -10%;
        top: 0;
        box-shadow: 20px 30px 20px 10px red;
        animation: floating 3s ease-in-out infinite;
        width: 120%;
        scale: 75%;
    }
    
    .fskills {
        position: absolute;
        top: 55vh;
        left: 100vw;
    }

    @keyframes skill_float {
        0% {
            transform: translateY(-1vh);
            filter: drop-shadow(10px 10px 3px rgba(0,0,0,.2));
            color: rgba(255, 255, 255, 0.1);
        }
    
        50% { 
            transform: translateY(1vh);
            filter: drop-shadow(2px 2px 1px rgba(0,0,0,1));
            color: rgba(255, 255, 255, 1);
        }
    
        100% {
            transform: translateY(-1vh);
            filter: drop-shadow(10px 10px 7px rgba(0,0,0,.2));
            color: rgba(255, 255, 255, 0.1);
        }
    }
    

    .theskilltitle {
        position: absolute;
        color: rgba(255, 255, 255, 0.5);
        bottom: 30vh;
        font-size: 4em;
        left: 15vw;
        animation: skill_float 5s ease-in-out infinite;
    }
    .fenteries {
        position: relative;
        left: 18%;
    }
    .skill_sec {
        display: inline-block;
        position: relative;
    }
    .rectangle_skill {
        position: absolute;
        background: lightgray;
        left: -3px;
        width: .8em;
        bottom: 1px;
        height: 23.5em;
        z-index: 0;
    }
    .entr {
        font-size: 1em;
        position: relative;
        color: black;
        filter: drop-shadow(2px 2px 1.5px rgba(128, 128, 128, 1));
    }
    .skills {
        visibility: hidden;
    }
    .four{
        padding: 2%;
        background: grey;
        display: block;
        position: relative;
    }
    .excuse {
        top: 25%;
        font-size:large;
        position: relative;
    }
    .email {
        top: 15%;
        position: relative;
    }


}
@media (max-width: 700px) {
    /* small movie Page */
    .img_container {
        width: 20vw;
        display: flex;
    }
    .poster {
        width: 100%;
    }
    .title{
        width: 70vw;
    }
    .poster_img {
        width: 100%;
    }
    .gen_desc {
        height: 0;
    }
    iframe {
        position: relative;
        right: 20vw;
        width: fit-content;
        height: fit-content;
    }
    .title {
        font-weight:bolder;
        padding-bottom: 2vh;
    }
    .release_date {
        visibility: hidden;
    }
    .trailer {
        padding-top: 0;
    }
    
    .gen_desc {
        visibility: hidden;
    }
}
@media (min-width: 1250px) {
/*The Full Screen Version*/
    .logo {
        height: 5%;
        width: 5%;
        cursor: pointer;
    }
    .nav_links li {
        display: inline-block;
        padding: 0px 20px;
    }
    .slide .left {
        width: 50vw;
        display: block;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .blerb {
        font-size: 6vh;
    }
    .slide .right {   
        width: 50vw;
        grid-column-start: 2;
        grid-column-end: 3;    
    }
    .shape_links {
        position: absolute;
        align-items: center;
        justify-content: center;
    }
    .circle_link {
        position: absolute;
        width: 0px;
        height: 0px;
        border-radius: 100%;
        transform: rotate(45deg);
        border-left: 3vh solid transparent;
        border-top: 3vh solid rgb(70, 0, 0);
        border-right: 3vh solid rgb(70, 0, 0);
        border-bottom: 3vh solid transparent;
        top: 45vh;
        scale: 500%;
        left: -1px;
        cursor: pointer;
        transition: 2s;
        filter: drop-shadow(1px 1px 3px rgba(0,0,0,.9));
    }
    .circle_link:hover {
        scale: 675%;
        filter: drop-shadow(1px 1px 9px rgba(0,0,0,.2));
    }
    .top_bar {
        position: absolute;
        height: 11vh;
        top: 30vh;
        border-left: 3vh solid transparent;
        border-right: 40vh solid rgba(122, 122, 122, 0.75);
        border-top: 20px solid transparent;
        cursor: pointer;
        transition: 2s;
    }
    .top_bar a {
        font-family: Impact;
        position: absolute;
        color: black;
        transform: rotate(359deg);
        left: 5vw;
        top: -10%;
        font-size: 9vh;
    }
    .top_bar:hover {
        border-right: 250vh solid rgb(240, 240, 240);
    }
    .middle_bar {
        position: absolute;
        height: 12vh;
        top: 42vh;
        border-left: 3vh solid transparent;
        border-right: 40vh solid rgba(122, 122, 122, 0.75);
        cursor: pointer;
        transition: 2s;
    }
    .middle_bar a {
        font-family: Impact;
        position: absolute;
        color: black;
        transform: rotate(340deg);
        left: 7vw;
        top: 10%;
        font-size: 8.3vh;
    }
    .middle_bar:hover {
        border-right: 300vw solid rgb(0, 255, 170)
    }
    .borrom_bar {
        position: absolute;
        height: 11vh;
        top: 55vh;
        border-left: 3vh solid transparent;
        border-right: 40vh solid rgba(122, 122, 122, 0.75);
        border-bottom: 20px solid transparent;
        cursor: pointer;
        transition: 2s;
    }
    .borrom_bar a {
        font-family: Impact;
        position: absolute;
        color: black;
        transform: rotate(0deg);
        left: 4vw;
        top: -15%;
        font-size: 12vh;
    }
    .borrom_bar:hover {
        border-right: 200vw solid rgb(119, 0, 255);
    }
    .two{
        background: linear-gradient(to right, black 10%, gray 100%);
    }
    .project_container {
        position: relative;
        display: grid;
        top:6%;
        scale: 85%;
    }
    .prj.left {
        display: grid;
        background-color: rgba(0, 0, 0, 0.01);
    }
    .prj.right {
        display: grid;
        background-color: rgba(0, 0, 0, 0.01);
    }
    .prj .prj {
        bottom: 5%;
        background-color: #270000;
        font-size: 3vh;
        font-weight: 100;
        color: white;
        transform: scale(.95, .9);
        filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.5));
    }
    .imagething {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: black;
        filter: blur(0px) grayscale(0%) opacity(100%) drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5));
        transition: all 2s;
        z-index: 2;
    }

    .o1 .imagething{
        background-image:url(/static/PhotoViewer.jpg);
        background-repeat: no-repeat;
        background-size: inherit;
        background-origin: content-box;
        /*filter: blur(0px) grayscale(0%) opacity(100%);*/
    }
    .imagething p{
        z-index: 1;
    }

    .prj .prj:hover .imagething{
        width: 30%;
        filter: blur(2px) grayscale(100%) opacity(50%);
    }
    .sixer {
        font-size: x-large;
    }
    @keyframes floating {
        0% {
            transform: translateY(-5px);
            box-shadow: 20px 30px 20px 10px rgba(0, 0, 0, .2);
        }
    
        50% { 
            transform: translateY(5px);
            box-shadow: 12px 15px 10px 20px rgba(0, 0, 0, .5);
        }
    
        100% {
            transform: translateY(-5px);
            box-shadow: 20px 30px 20px 10px rgba(0, 0, 0, .2);
        }
    }
    .t_blob {
        background-color: black;
        color: white;
        width: 50vw;
        padding: 3%;
        position: absolute;
        margin: 5%;
        top: 17%;
        box-shadow: 20px 30px 20px 10px red;
        animation: floating 3s ease-in-out infinite;
    }
    .fskills {
        position: absolute;
        visibility: hidden;
    }
    .skills {
        /*outline: solid blue 2px;*/
        position: relative;
        left: 30vw;
        top: 50%;
        width: 50vw;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .enteries {
        /*outline: solid red 2px;*/
        margin-left: 5%;
        display: grid;
    }
    .Titleskills {
        color: black;
        transform: rotate(0deg);
    } 
    .first_sec{
        /*outline: solid pink 2px;*/
        position: relative;
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .ent{
        /*outline: solid brown 2px;*/
        position: relative;
        color: rgb(46, 0, 0);
        transform: rotate(13deg);
    }
    .Titleskills {
        font-size: xx-large;
        color: rgb(46, 0, 0);
        transform: rotate(0deg);
        bottom: 13.5vh;
    } 
    .four{
        width: 100vw;
        height: 100vh;
        background: grey;
        justify-content: center;
        padding-top: 11vh;
    }

    .contact_form {
        justify-items: center;
        display: grid;
        row-gap: 3vh;
        width: 20vw;
        padding: 2vw;
    }

    .ContactForm {
        font-size: 4em;
        color: white;
    }
    input {
        font-family: Arial, Helvetica, sans-serif;
        padding: 1%;
        height: 2em;
        border-radius: 15px;
        width: 100%;
        border-color: #cf1515;
    }

    textarea {
        font-family: Arial, Helvetica, sans-serif;
        padding: 1%;
        border-radius: 15px;
        height: 30vh;
        border-color: #cf1515;
    }

    .contact_submit {
        scale: 200%;
    } 

} 

@keyframes dissapear {
    0% {
        transform: translateY(-1em);
        opacity: 0;
    }

    50% { 
        transform: translateY(0em);
        opacity: 1;
    }

    100% {
        transform: translateY(-1em);
        opacity: 0;
     
    }
}

.alert-success {
    top: 23%;
    right:19%;
    position:absolute;
    padding: .5em;
    background-color: #cf1515;
    opacity: 0;
    align-content: center;
    border-radius: 13px;
    color: white;
    animation: dissapear 2s;
}
.logo img {
    height:100%;
    width: 100%;
}

.nav_link {
    list-style: none;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #cf1515;
}

button {
    padding: 9px 25px;
    background-color: rgba(207, 21, 21, 0.6);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(207, 21, 21, 1);
}

.slide {
    display: grid;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    font-weight: 800;
}

.one{
    background: black;
    z-index: 2;
}

.hero_text {
    padding: 30% 10%;
    color:rgb(196, 196, 196);
}
.blerb {
    font-size: 3vh;
}
.left {
    display: block;
}
.socials {
    display: inline-flex;
    left: 50%;
    padding: 2%;
}
.soc {
    padding: 5px;
}
.soc img{
    width: auto;
    height: 3vh;
    filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 0.9));
}
.pj_desc {
    position: absolute;
    left: 32%;
}


.three{
    display: grid;
    background: grey;
}
.about {
    position: relative;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

@keyframes floating {
    0% {
        transform: translateY(-5px);
        box-shadow: 20px 30px 20px 5px rgba(0, 0, 0, 0.2);
    }

    50% { 
        transform: translateY(5px);
        box-shadow: 12px 15px 10px 10px rgba(0, 0, 0, .5);
    }

    100% {
        transform: translateY(-5px);
        box-shadow: 20px 30px 20px 5px rgba(0, 0, 0, .2);
    }
}

.movie_container {
    padding: 2vh;
    background: rgb(194, 194, 194);
    display: grid;
    column-gap: 10px;
    overflow-x: hidden;
}

.img_container {
    width: 20vw;
    display: flex;
}
.poster {
    width: 100%;
}

.poster_img {
    width: 100%;
}
.desc_contain {
    padding-top: 2vh;
    margin-right: 45vw;
    width: 560px;
    grid-column-start: 2;
    grid-column-end: 2;
}
.title {
    font-weight:bolder;
    padding-bottom: 2vh;
}
.release_date {
    font-weight: bold;
    padding-bottom: 0vh;
}
.trailer {
    padding-top: 20vh;
}

.gen_desc {
    padding-top: 1vh;
    padding-bottom: 4vh;
    width: 100%;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    top: 0;
    z-index: -1;
}
::-webkit-scrollbar {
    display: none;
}

