* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #d9d9d9;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 10%;
    background: rgba(0, 0, 0, .5);
    z-index: 10;
}
.logo {
    height: 5%;
    width: 5%;
    cursor: pointer;
}
.logo img {
    height:100%;
    width: 100%;
}

.nav_link {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #cf1515;
}

button {
    padding: 9px 25px;
    background-color: rgba(207, 21, 21, 0.6);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(207, 21, 21, 1);
}

.slide {
    width: 100vw;
    height: 100vh;
    display: grid;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    font-weight: 800;
}

.one{
    background: black;
    z-index: 2;

}
.slide .left {
    width: 50vw;
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
}
.hero_text {
    padding: 30% 10%;
    color:rgb(196, 196, 196);
}
.blerb {
    font-size: 6vh;
}
.left {
    display: block;
}
.socials {
    display: inline-flex;
    left: 50%;
    padding: 2%;
}
.soc {
    padding: 5px;
}
.soc img{
    width: auto;
    height: 3vh;
    filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 0.9));
}
.slide .right {   
    width: 50vw;
    grid-column-start: 2;
    grid-column-end: 3;    
}
.shape_links {
    position: absolute;
    align-items: center;
    justify-content: center;
}
.circle_link {
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 100%;
    transform: rotate(45deg);
    border-left: 3vh solid transparent;
    border-top: 3vh solid rgb(70, 0, 0);
    border-right: 3vh solid rgb(70, 0, 0);
    border-bottom: 3vh solid transparent;
    top: 45vh;
    scale: 500%;
    left: -1px;
    cursor: pointer;
    transition: 2s;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,.9));
}
.circle_link:hover {
    scale: 675%;
    filter: drop-shadow(1px 1px 9px rgba(0,0,0,.2));
}
.top_bar {
    position: absolute;
    height: 11vh;
    top: 30vh;
    border-left: 3vh solid transparent;
    border-right: 40vh solid rgba(122, 122, 122, 0.75);
    border-top: 20px solid transparent;
    cursor: pointer;
    transition: 2s;
}
.top_bar a {
    font-family: Impact;
    position: absolute;
    color: black;
    transform: rotate(359deg);
    left: 5vw;
    top: -10%;
    font-size: 9vh;
}
.top_bar:hover {
    border-right: 250vh solid rgb(240, 240, 240);
}
.middle_bar {
    position: absolute;
    height: 12vh;
    top: 42vh;
    border-left: 3vh solid transparent;
    border-right: 40vh solid rgba(122, 122, 122, 0.75);
    cursor: pointer;
    transition: 2s;
}
.middle_bar a {
    font-family: Impact;
    position: absolute;
    color: black;
    transform: rotate(340deg);
    left: 7vw;
    top: 10%;
    font-size: 8.3vh;
}
.middle_bar:hover {
    border-right: 300vw solid rgb(0, 255, 170)
}
.borrom_bar {
    position: absolute;
    height: 11vh;
    top: 55vh;
    border-left: 3vh solid transparent;
    border-right: 40vh solid rgba(122, 122, 122, 0.75);
    border-bottom: 20px solid transparent;
    cursor: pointer;
    transition: 2s;
}
.borrom_bar a {
    font-family: Impact;
    position: absolute;
    color: black;
    transform: rotate(0deg);
    left: 4vw;
    top: -15%;
    font-size: 12vh;
}
.borrom_bar:hover {
    border-right: 200vw solid rgb(119, 0, 255);
}
.two{
    background: darkgray;
}
.project_container {
    position: relative;
    display: grid;
    top:6%;
    scale: 85%;
}
.prj.left {
    display: grid;
    background-color: rgba(0, 0, 0, 0.5);
}
.prj.right {
    display: grid;
    background-color: rgba(0, 0, 0, 0.5);
}
.prj .prj {
    bottom: 5%;
    background-color: #cf1515;
    transform: scale(.95, .9);
    filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.5));
}
.imagething {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5));
    transition: 2s;
}
.imagething:hover {
    width: 30%;
}
.pj_desc {
    position: absolute;
    left: 32%;
}
.three{
    display: grid;
    background: rgb(139, 0, 0);
}
.about {
    position: relative;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

@keyframes floating {
    0% {
        transform: translateY(-5px);
        box-shadow: 20px 30px 20px 10px rgba(0, 0, 0, .2);
    }

    50% { 
        transform: translateY(5px);
        box-shadow: 12px 15px 10px 20px rgba(0, 0, 0, .5);
    }

    100% {
        transform: translateY(-5px);
        box-shadow: 20px 30px 20px 10px rgba(0, 0, 0, .2);
    }
    

}

.t_blob {
    background-color: lightgray;
    padding: 3%;
    position: absolute;
    margin: 5%;
    top: 17%;
    box-shadow: 20px 30px 20px 10px red;
    animation: floating 3s ease-in-out infinite;
}
.skills {
    position: relative;
    top: 50%;
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
}
.enteries {
    margin-left: 5%;
    display: grid;
}
.first_sec{
    position: relative;
    top: 17%;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
}
.second_sec{
    position: relative;
    top: 20%;
    left: -50%;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
}
.ent{
    position: relative;
    color: rgb(5, 5, 5);
    transform: rotate(13deg);
}
.example {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;

}
.something {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
}
.four{
    background: orange;
    display: block;
}
.four p {
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 20vh;
}
.excuse {
    top: -35%;
    font-size:xx-large;
}
.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    top: 0;
    z-index: -1;
}
::-webkit-scrollbar {
    display: none;
}
