* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #d9d9d9;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 10%;
    background: rgba(0, 0, 0, .5);
    z-index: 10;
}
.logo {
    height: 5%;
    width: 5%;
    cursor: pointer;
}

.nav_link {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #cf1515;
}

button {
    padding: 9px 25px;
    background-color: rgba(207, 21, 21, 0.6);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(207, 21, 21, 1);
}

.slide {
    width: 100vw;
    height: 100vh;
    display: grid;
}
.slide > p ,.slide > div{
    outline: black solid 2px;
}
.wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    font-weight: 800;
}

.slide .left {
    outline: yellow solid 2px;
    width: 50vw;
    display: block;
    justify-content: center;
    padding-top: 35%;
    grid-column-start: 1;
    grid-column-end: 2;
}

.slide .right {
    outline: orchid solid 2px;    
    width: 50vw;
    grid-column-start: 2;
    grid-column-end: 3;    
}
.left {
    display: block;
    padding: 10%;
    justify-content: center;
    align-items: center;
}

.left p {
    outline: pink solid 2px;
}

.left div {
    outline: white solid 2px;
}

.left .socials {
    outline: blue solid 2px;
    
}

.left .blerb {
    outline: green solid 2px;
}

.one{
    background: red;

}
.two{
    background: blue;
}
.three{
    background: blueviolet;
}
.four{
    background: orange;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    top: 0;
    z-index: -1;
}
::-webkit-scrollbar {
    display: none;
}
